{% extends "pawBook/layout.html" %}

{% block title %}
   PawBook
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<div>
   <h2>Welcome {{ user.get_username }}</h2>
</div>
<div class="container-fluid">
   <div class="col-md-6 offset-md-3">
      <h3>A random dog picture will be added to this post</h3>
      <form method="POST">
         {% csrf_token %}
         {{ form|crispy }}
         
         <input type="submit" value="submit"><br>
      </form>
   </div>
</div>

{% endblock %}